<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/972f63b1c4.js" crossorigin="anonymous"></script>
    <title>Template</title>
</head>
<body>
    <header>
        <h2>Company<br>Name</h2>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#showcase">Showcase</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#designers">Designers</a></li>
                <li><a href="#packages">Packages</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <section>
                <h1 id="home">Interior Design</h1>
            </section>
            <section>
                <div class="container">
                    <h2 id="showcase">Showcase.</h2>
                    <div class="red-line"></div>
                </div>
                <div>
                    <div class="images images1">
                        <img src="images/kitchenconcrete.jpg" alt="kitchenconcrete">
                        <img src="images/atrium.jpg" alt="atrium">
                    </div>
                    <div class="images images2">
                        <img src="images/livingroom.jpg" alt="livingroom">
                        <img src="images/bedroom.jpg" alt="bedroom">
                    </div>
                    <div class="images images2">
                        <img src="images/diningroom.jpg" alt="diningroom">
                        <img src="images/livingroom2.jpg" alt="livingroom2">
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2 id="services">Services.</h2>
                    <div class="red-line"></div>
                </div>
                <div>
                    <p>
                    We are a interior design service that focus on what's best for your home and what's best for you!
                    <br>
                    <br>
                    Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2 id="designers">Designers.</h2>
                    <div class="red-line"></div>
                </div>
                <div>
                    <p>
                    The best team in the world.
                    <br>
                    <br>
                    We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <h3>Our designers are thoughtfully chosen:</h3>
                </div>
                <div class="teams">
                    <div class="team">
                        <img src="images/john.jpg" alt="john" class="persone">
                        <div class="para">
                        <h4>John Doe</h4>
                        <br>
                        <P>CEO & Founder</P>
                        <br>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        </div>
                    </div>
                    <div class="team between">
                        <img src="images/jane.jpg" alt="jane" class="persone">
                        <div class="para">
                        <h4>Jane Doe</h4>
                        <br>
                        <P>Designer</P>
                        <br>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        </div>
                    </div>
                    <div class="team between">
                        <img src="images/mike.jpg" alt="mike" class="persone">
                        <div class="para">
                        <h4>Mike Ross</h4>
                        <br>
                        <P>Architect</P>
                        <br>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2 id="packages">Packages</h2>
                    <div class="red-line"></div>
                </div>
                <div>
                    <p>
                    Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur
                    </p>
                </div>
                <div class="packages">
                    <div class="package">
                        <h4 class="basic">Basic</h4>
                        <span>flooplannig</span>
                        <hr>
                        <span>10 hours support</span>
                        <hr>
                        <span>Photography</span>
                        <hr>
                        <span>20% furniture discount</span><hr>
                        <span>Good deals</span><hr>
                        <span>$ 199</span>
                        <span>per room</span><hr>
                        <button class="basic-button">Signe Up</button>
                    </div>
                    <div class="package">
                        <h4 class="pro">Pro</h4>
                        <span>flooplannig</span><hr>
                        <span>10 hours support</span><hr>
                        <span>Photography</span><hr>
                        <span>20% furniture discount</span><hr>
                        <span>Good deals</span><hr>
                        <span>$ 199</span>
                        <span>per room</span><hr>
                        <button class="pro-button">Signe Up</button>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2 id="contact">Contacts</h2>
                    <div class="red-line"></div>
                    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
                </div>
                <div class="label">
                    <div>
                        <label >Name</label><br>
                        <input type="text" name="name" class="inputs">
                    </div>
                    <div>
                        <label >Email</label><br>
                        <input type="email" name="email" class="inputs">
                    </div>
                    <div>
                        <label >Message</label><br>
                        <input type="text" name="email" class="inputs">
                    </div>
                    <div class="input">
                        <button class="inputs">Send Message</button>
                    </div>
                </div>
            </section>
            <footer>
                <div class="icones">
                    <a href="https://fr.linkedin.com"><i class="fa-brands fa-linkedin" id="icone"></i></a>
                    <a href="https://twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://mail.google.com"><i class="fa-solid fa-square-envelope"></i></a>
                </div>
            </footer>
        </article>
    </main>   
</body>
</html>